
.button{

  -fx-background-color: #2196f3;
  -fx-border: none;
  -fx-padding: 15px ;
  -fx-text-align: center;
  -fx-text-decoration: none;
  -fx-display: inline-block;
  -fx-font-size: 14px;
  -fx-font-family: Arial;
  -fx-text-fill: #ffffff;

}

.dashboard{
 -fx-background-color: #ffffff;
}


.tableColumn{
     -fx-background-color: #2196f3; 
     -fx-font-family: Arial;
     -fx-color: #ffffff;
     -fx-text-fill: #ffffff;


}

.doctorTitle{
    
  -fx-background-color: #2196f3; 

}